<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <!--HEADER-->
    <main>
        <form action="/users" method="POST">
            <label for="Email">Email</label>
            <input class="u-full-width" type="text" id="email" name="email">

            <label for="Password">Password</label>
            <input class="u-full-width" type="text" id="password" name="password">

            <button class="button-primary">Registrar</button>
        </form>
    </main>
    
</body>
</html>